extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Home'
  - var pageTitle = 'T10 Auction Catalog List'
  - var menuTitle = 'Hero Slider'
  - var pageTitle = 'T10 Auction Catalog List'
  - var isModalTerms = true
  - var isCardScript = true
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'T10 - Auction Catalog List'}]

  //- - var isHeader = false

//- Page Content
block content
  -
    var catalogs = [
      {
        title: 'RR Auction: Fine Autographs and Articacts featuring Pop Culture',
        link: '/t11-auction-catalog-detail.html',
        image: '/img/auction-catalog/catalog-1.jpg'
      },
      {
        title: 'RR Auction: Space & Aviation',
        link: '/t11-auction-catalog-detail.html',
        image: '/img/auction-catalog/catalog-2.jpg'
      },
      {
        title: 'RR Auction: Fine Autographs and Artifacts featuring Literature',
        link: '/t11-auction-catalog-detail.html',
        image: '/img/auction-catalog/catalog-3.jpg'
      },
      {
        title: 'RR Auction: March 2019 Marvels of Modern Music',
        link: '/t11-auction-catalog-detail.html',
        image: '/img/auction-catalog/catalog-4.jpg'
      },
      {
        title: 'RR Auction: Sports Auction',
        link: '/t11-auction-catalog-detail.html',
        image: '/img/auction-catalog/catalog-5.jpg'
      },
      {
        title: 'RR Auction: Fine Autographs and Artifact Auction featuring Presidents',
        link: '/t11-auction-catalog-detail.html',
        image: '/img/auction-catalog/catalog-6.jpg'
      },
      {
        title: 'RR Auction: Grenoble 1968 Winter Olympics Torch',
        link: '/t11-auction-catalog-detail.html',
        image: '/img/auction-catalog/catalog-7.jpg'
      },
      {
        title: 'RR Auction: Olympics Auction Featuring The Mason Dinehart Collection',
        link: '/t11-auction-catalog-detail.html',
        image: '/img/auction-catalog/catalog-8.jpg'
      }
    ]

  .auction-catalog-list.padding-bottom-3x
    .container
      .auction-catalog-list__grid
        .row
          each catalog in catalogs
            .col-md-3
              .catalog
                .img
                  a(href=catalog.link)
                    img(src=catalog.image, alt=catalog.title)
                p
                  a(href=catalog.link) #{catalog.title}
                .row
                  .col-4
                    a(href="#") View
                  .col-4
                    a(href="#") Download
                  .col-4
                    a(href="#") Buy



