extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Account'
  - var pageTitle = 'T28 - User Bids'
  - var menuTitle = 'Account'
  - var pageTitle = 'T28 - User Bids'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {title: 'Account', link: '/t26-user-profile.html'}, {'title': 'T28 - User Bids'}]

//- Page Content
block content
  -
    var items = [
      {
        status: 'Winning',
        lotNo: '#1',
        lotTitle: 'Consequat eiusmod fugiat irure sit enim excepteur pariatur velit enim excepteur',
        time: '8d / 4h / 39m',
        nowAt: '$300.00',
        nextBid: '$0.00',
        max: '$4000.00'
      },
      {
        status: 'Outbid',
        lotNo: '#2',
        lotTitle: 'Consequat eiusmod fugiat irure sit enim excepteur pariatur velit enim excepteur',
        time: '8d / 4h / 39m',
        nowAt: '$400.00',
        nextBid: '$0.00',
        max: '$4000.00'
      },
      {
        status: 'Winning',
        lotNo: '#3',
        lotTitle: 'Consequat eiusmod fugiat irure sit enim excepteur pariatur velit enim excepteur',
        time: '8d / 4h / 39m',
        nowAt: '$500.00',
        nextBid: '$0.00',
        max: '$4000.00'
      },
    ]
  .user-bids-page.padding-bottom-3x
    .container
      .row
        .col-12
          .account-products
            ul(class='nav nav-tabs nav-justified')
              li.nav-item: a(href='/t28-user-bids.html').nav-link.active My Bids
              li.nav-item: a(href='/t27-user-watchlist.html').nav-link My Watchlist
              li.nav-item: a(href='/t29-user-consignments.html').nav-link My Consignments

            ul.nav.nav-pills.mt-3.mb-3
              li.nav-item
                a(href="#").nav-link Current Auctions
              li.nav-item
                a(href="#").nav-link.active Past Auctions

            .table-responsive.shopping-cart
              table.table
                thead
                  tr
                    th
                      a(href='#') Status
                    th
                      a(href='#') Lot #
                    th
                      a(href='#') Lot Title
                    th
                      a(href='#') Time Remaining
                    th
                      a(href='#') Now at
                    th
                      a(href='#') Next bid
                    th
                      a(href='#') My Max Bid
                    th.text-center
                      a(href='#') Bid
                tbody
                  each item in items
                    tr
                      td #{item.status}
                      td #{item.lotNo}
                      td #{item.lotTitle}
                      td #{item.time}
                      td #{item.nowAt}
                      td #{item.nextBid}
                      td #{item.max}
                      td.text-center: a(href="#").btn.btn-primary.btn-sm.m-0 Bid
