extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Account'
  - var pageTitle = 'T29 - User Consignments'
  - var menuTitle = 'Account'
  - var pageTitle = 'T29 - User Consignments'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {title: 'Account', link: '/t26-user-profile.html'}, {'title': 'T29 - User Consignments'}]

//- Page Content
block content
  -
    var items = [
      {
        status: 'Sold',
        statusClass: 'text-success',
        lotNo: '#1',
        lotTitle: 'Consequat eiusmod fugiat irure sit enim excepteur pariatur velit enim excepteur',
        time: '8d / 4h / 39m',
        nowAt: '$300.00',
        nextBid: '$0.00',
        reserve: '$4000.00'
      },
      {
        status: 'Unsold',
        statusClass: 'text-danger',
        lotNo: '#2',
        lotTitle: 'Consequat eiusmod fugiat irure sit enim excepteur pariatur velit enim excepteur',
        time: '8d / 4h / 39m',
        nowAt: '$400.00',
        nextBid: '$0.00',
        reserve: '$4000.00'
      },
      {
        status: 'Sold',
        statusClass: 'text-success',
        lotNo: '#3',
        lotTitle: 'Consequat eiusmod fugiat irure sit enim excepteur pariatur velit enim excepteur',
        time: '8d / 4h / 39m',
        nowAt: '$500.00',
        nextBid: '$0.00',
        reserve: '$4000.00'
      },
    ]

  .user-consignments-page.padding-bottom-3x
    .container
      .row
        .col-12
          .account-products
            ul(class='nav nav-tabs nav-justified')
              li.nav-item: a(href='/t28-user-bids.html').nav-link My Bids
              li.nav-item: a(href='/t27-user-watchlist.html').nav-link My Watchlist
              li.nav-item: a(href='/t29-user-consignments.html').nav-link.active My Consignments

            div.controls
              ul.nav.nav-pills.mt-3.mb-3
                li.nav-item
                  a(href="#").nav-link Current Auctions
                li.nav-item
                  a(href="#").nav-link.active Preview Auctions
                li.nav-item
                  a(href="#").nav-link Past Auctions
              .filter.mt-3.mb-3
                label(for="filter").text-muted.text-small Filter By:
                select(name="filter" id="filter").form-control
                  option(value="Filter 1") Filter 1
                  option(value="Filter 2") Filter 2
                  option(value="Filter 3") Filter 3
                  option(value="Filter 4") Filter 4
            .hidden-lg-up
              each item in items
                .card.mb-3
                  .card-body
                    ul.list-unstyled
                      li
                        strong Lot:
                        span(class=item.statusClass)
                          | &nbsp;#{item.status}
                      li
                        strong Lot:
                        | &nbsp;#{item.lotNo}
                      li
                        strong Lot Title:
                        a(href="#") &nbsp;#{item.lotTitle}
                      li
                        strong Time Remaining:
                        | &nbsp;#{item.time}
                      li
                        strong Now at:
                        | &nbsp;#{item.nowAt}
                      li
                        strong Next bid:
                        | &nbsp;#{item.nextBid}
                      li
                        strong Reserve:
                        | &nbsp;#{item.reserve}
                      li
                        a(href="#").btn.btn-primary.btn-sm Bid
            .table-responsive.shopping-cart
              table.table
                thead
                  tr
                    th
                      a(href='#') Status
                    th
                      a(href='#') Lot #
                    th
                      a(href='#') Lot Title
                    th
                      a(href='#') Time Remaining
                    th
                      a(href='#') Now at
                    th
                      a(href='#') Next bid
                    th
                      a(href='#') Reserve
                    th.text-center
                      a(href='#') Bid
                tbody
                  each item in items
                    tr
                      td(class=item.statusClass) #{item.status}
                      td #{item.lotNo}
                      td
                        a(href="#") #{item.lotTitle}
                      td #{item.time}
                      td #{item.nowAt}
                      td #{item.nextBid}
                      td #{item.reserve}
                      td.text-center: a(href="#").btn.btn-primary.btn-sm.m-0 Bid

            include partials/pagination
