extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var parentMenu = 'Account'
  - var pageTitle = 'T30 - User Wantlist'
  - var menuTitle = 'Account'
  - var pageTitle = 'T30 - User Wantlist'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {title: 'Account', link: '/t26-user-profile.html'}, {'title': 'T30 - User Wantlist'}]
  - var isLoggedIn = true

//- Page Content
block content
  -
    var searchItems = [
      {
        name: 'Search Name 1',
        keywords: 'keyword 1, keyword 2, keyword 3',
        resultText: 'No Matching Results',
        id: 1
      },
      {
        name: 'Search Name 2',
        keywords: 'keyword 1, keyword 2, keyword 3',
        resultText: '2 Matching Results',
        resultUrl: '#',
        id: 2
      },
      {
        name: 'Search Name 3',
        keywords: 'keyword 1, keyword 2, keyword 3',
        resultText: '9 Matching Results',
        resultUrl: '#',
        id: 3
      },
      {
        name: 'Search Name 4',
        keywords: 'keyword 1, keyword 2, keyword 3',
        resultText: 'No Matching Results',
        id: 4
      }
    ]

  - var activeItem = 4

  .user-wantlist-page.padding-bottom-3x
    .container
      .row
        .col-md-4
          include partials/account-sidebar
        .col-md-8(id='content')
          .text-right.mb-3
            button(class='btn btn-primary margin-bottom-none' data-toggle='modal' data-target='#modalWantlist') Create New Wantlist

          .table-responsive
            table.table.table-striped
              thead
                tr
                  th Search Keywords
                  th Search Results
                  th Email Me
                  th Edit
                  th Delete
              tbody
                each item in searchItems
                  tr
                    td #{item.keywords}
                    td
                      if item.resultUrl
                        a(href=item.resultUrl) #{item.resultText}
                      else
                        | #{item.resultText}
                    td
                      form
                        .custom-control.custom-checkbox.d-block
                          input(type='checkbox' id='email-me' checked).custom-control-input
                          label(for='email-me').custom-control-label
                        input(type='hidden' value=item.id)
                    td
                      a(href='#').btn.btn-warning.btn-sm.m-0
                        i.icon-edit
                    td
                      a(href='#').btn.btn-danger.btn-sm.m-0
                        i.icon-x

