- var bidText = item.bidText || 'Bid'
- var timeText = item.time || '8d 4h 39m'
- var priceLabel = item.priceLabel || 'Now At'

.auction-list-item
  .row
    .col-4.col-sm-3
      .auction-list-item__image
        img.img-fluid(src=item.image)
        if (item.overlay)
          .auction-list-item__image-overlay(class=item.overlayClass)
            p #{item.overlay}
    .col-8.col-sm-9
      p.mb-1 #1
      p.mb-1 #{item.title}
      .row
        .col-6
          p.mb-1 #{timeText}
          p.mb-1 #{priceLabel}: #{item.now}
        .col-6
          a(href="#").btn.btn-outline-primary.btn-sm
            i.icon-eye
            span.text.hidden-sm-down Watch
          a(href="#").btn.btn-primary.btn-sm #{bidText}

hr.mt-2.mb-2
