.catalog-item
  .img
    a(href=catalog.link)
      img(src=catalog.image, alt=catalog.title)
  p
    a(href=catalog.link) #{catalog.title}
  .row
    .col.text-left
      a(href="#") View
    .col.text-center
      a(href="#") Download
    .col.text-right
      a(href="#") Buy
