.catalog-item
  .img
    a(href=catalog.link)
      img(src=catalog.image, alt=catalog.title)
  p
    a(href=catalog.link) #{catalog.title}
  .links
    a(href="#") View
    a(href="#") Download
    a(href="#") Buy
