-
  var items = [
    {
      lotNo: '#1',
      lotTitle: 'Consequat eiusmod fugiat irure sit enim excepteur pariatur velit enim excepteur',
      time: '8d / 4h / 39m',
      nowAt: '$300.00',
      nextBid: '$0.00',
      bidText: 'Bid',
      showWatch: true
    },
    {
      lotNo: '#2',
      lotTitle: 'Lot Title 2',
      time: '8d / 4h / 39m',
      nowAt: '$400.00',
      nextBid: '$0.00',
      watched: true,
      bidText: 'Bid',
      showWatch: true
    },
    {
      lotNo: '#3',
      lotTitle: 'Lot Title 3',
      time: 'Starts 5/4/19',
      nowAt: '$500.00',
      nextBid: '$0.00',
      bidText: 'View',
      showWatch: true
    },
    {
      lotNo: '#4',
      lotTitle: 'Lot Title 4',
      time: 'Closed',
      nowAt: '$506.00',
      nextBid: '$0.00',
      bidText: 'View'
    },
    {
      lotNo: '#5',
      lotTitle: 'Lot Title 5',
      time: '8d / 4h / 39m',
      nowAt: '$3406.00',
      nextBid: '$0.00',
      bidText: 'Bid',
      showWatch: true
    },
    {
      lotNo: '#6',
      lotTitle: 'Lot Title 6',
      time: '8d / 4h / 39m',
      nowAt: '$834.00',
      nextBid: '$0.00',
      bidText: 'Bid',
      showWatch: true
    },
    {
      lotNo: '#7',
      lotTitle: 'Lot Title 7',
      time: '8d / 4h / 39m',
      nowAt: '$98.00',
      nextBid: '$10.00',
      bidText: 'Bid',
      showWatch: true
    },
    {
      lotNo: '#8',
      lotTitle: 'Lot Title 8',
      time: '8d / 4h / 39m',
      nowAt: '$948.00',
      nextBid: '$10.00',
      bidText: 'Bid',
      showWatch: true
    },
    {
      lotNo: '#9',
      lotTitle: 'Lot Title 9',
      time: '8d / 4h / 39m',
      nowAt: '$1645.00',
      nextBid: '$10.00',
      bidText: 'Bid',
      showWatch: true
    },
    {
      lotNo: '#10',
      lotTitle: 'Lot Title 10',
      time: '8d / 4h / 39m',
      nowAt: '$0.00',
      nextBid: '$10.00',
      bidText: 'Bid',
      showWatch: true
    },
    {
      lotNo: '#11',
      lotTitle: 'Lot Title 11',
      time: '8d / 4h / 39m',
      nowAt: '$9.00',
      nextBid: '$10.00',
      bidText: 'Bid',
      showWatch: true
    },
    {
      lotNo: '#12',
      lotTitle: 'Lot Title 12',
      time: '8d / 4h / 39m',
      nowAt: '$65.00',
      nextBid: '$10.00',
      bidText: 'Bid',
      showWatch: true
    },
  ]

include auction-toolbar
.table-responsive.shopping-cart
  table.table
    thead
      tr
        th Lot #
        th Lot Title
        th Time Remaining
        th Now at
        th Next bid
        th.text-center Watchlist
        th.text-center Bid
    tbody
      each item in items
        tr
          td #{item.lotNo}
          td
            a(href="#") #{item.lotTitle}
          td #{item.time}
          td #{item.nowAt}
          td #{item.nextBid}
          if (item.watched)
            td.text-center
              a(href="#").btn.btn-outline-primary.btn-sm.m-0
                i.icon-x
                span.ml-1 Unwatch
          else
            td.text-center
              if (item.showWatch)
                a(href="#").btn.btn-outline-primary.btn-sm.m-0
                  i.icon-eye
                  span.ml-1 Watch
          td.text-center: a(href="#").btn.btn-primary.btn-sm.m-0 #{item.bidText}
include pagination
